$imgSize: 2rem;

$color: #464646; // 前景色
$backgroundColor: #fefefe; // 背景颜色
$selectionBackgroundColor: #dedede; // 被选中文字背景颜色

/* 侧栏 */
$sidebarBackgroundColor: #efefef; // 侧栏背景色
$catalogColor: #444; // 侧栏主块类别前景色
$catalogHoverColor: black; // 侧栏主块悬浮前景色
$itemColor: #222; // 条目块颜色
$itemBackgroundColor: #eee; // 条目块背景色
$itemHoverColor: #111; // 条目块悬浮时颜色
$itemDivHoverColor: #111; // 条目块的父块悬浮时颜色
$itemHoverBackgroundColor: #f4f4f4; // 条目悬浮背景颜色
$itemBorderColor: #888; // 条目边框颜色
$itemHoverBorderColor: #000; // 条目悬浮时边框颜色
$SEItmeColor: black;

/* 正文 */
$linkColor: #822; // 超链接颜色
$linkHover: #eee; // 超链接悬浮颜色

$tableDeepColor: #222; // 图表深色
$tableShallow: #fff; // 图表浅色

$subTitleToggleSize: 4rem; // 右下角四个块大小
$blockColor: #bbb #ddd #ddd #bbb; // 四个块颜色
$blockLength: length($blockColor); // 块数

$titleColor: #222; // 标题颜色
$contentColor: #222; // setcion 块字体颜色
$borderColor: #444; // 默认边框颜色

$headColor: #222; // 2 3 4 5 6 级标题颜色
$footerColor: black; // 页脚颜色
$h2Color: #222;
$h3Color: #222;
$h4Color: #222;
$h5Color: #222;
$h6Color: #222;

$showBorderColor: #222;
$tipColor: #333; // 提示框文本颜色
$tipBackgroundColor: rgba(214, 214, 214, 0.8); // 提示框背景色
$tipBorderColor: #222; // 提示框边框颜色
$definitionColor: white;
$definitionBackGroundColor: rgb(170, 170, 255);
$strongBackgroundColor: #fff;
$strongBorderColor: #000;

$deviceThreshold: 801px; // 侧栏隐藏阈值

$questionIcon: url("../images/question_dark.svg");
$questionBackgroundColor: rgb(194, 202, 234);

@import './sidebar.scss';