$imgSize: 2rem;

$color: #fcfcfc; // 前景色
$backgroundColor: #464646; // 背景颜色

/* 侧栏 */
$sidebarBackgroundColor: #3e3e3e; // 侧栏背景色
$catalogColor: #eee; // 侧栏主块类别前景色
$catalogHoverColor: white; // 侧栏主块悬浮前景色
$itemColor: #ccc; // 条目块颜色
$itemHoverColor: #111; // 条目块悬浮时颜色
$itemDivHoverColor: #111; // 条目块的父块悬浮时颜色
$itemBackgroundColor: #444; // 条目块背景色
$itemHoverBackgroundColor: #f4f4f4; // 条目悬浮背景颜色
$itemBorderColor: #666; // 条目边框颜色
$itemHoverBorderColor: #fff; // 条目悬浮时边框颜色
$SEItmeColor: black;

/* 正文 */
$linkColor: #ddd; // 超链接颜色
$linkHover: #444; // 超链接悬浮背景颜色

$tableDeepColor: #efefef; // 图表深色
$tableShallow: #222; // 图表浅色

$subTitleToggleSize: 4rem; // 右下角四个块大小
$blockColor: #333 #222 #222 #333; // 四个块颜色
$blockLength: length($blockColor); // 块数


$titleColor: #fff; // 标题颜色
$contentColor: #fcfcfc; // 正文字体颜色
$borderColor: #ccc; // 默认边框颜色

$headColor: #fff;
$footerColor: white; // 页脚颜色
$h2Color: #fff;
$h3Color: #fff;
$h4Color: #fff;
$h5Color: #fff;
$h6Color: #fff;

$showBorderColor: #ccc;
$tipColor: #efefef; // 提示框文本颜色
$tipBackgroundColor: #181818; // 提示框背景色
$tipBorderColor: #fefefe; // 提示框边框颜色
$definitionColor: rgb(50, 50, 78);
$definitionBackGroundColor: #efefef;
$strongBackgroundColor: inherit;
$strongBorderColor: white;

$deviceThreshold: 801px; // 侧栏隐藏阈值

@import './sidebar.scss';