$imgSize: 2rem;

$sidebarBackgroundColor: #efefef; // 侧栏背景色
$itemBackgroundColor: #ddd; // 条目块背景色
$itemHoverBackgroundColor: #eee; // 条目悬浮背景颜色
$borderColor: #888; // 边框颜色
$catalogColor: #444; // 类别前景色

$contentColor: #444; // 正文字体颜色
$titleColor: #222; // 子标题颜色

$linkColor: #822;
$linkHover: #eee;

$tableDeepColor: #222; // 图表深色
$tableShallow: #fff; // 图表浅色

body {
    background-color: #fefefe;
}

@mixin getFixedPosition($flag: 'block') {
    @if $flag == 'block' {
        // 如果是侧栏块
        display: none;
        opacity: 0;
        top: 0;
    } @else {
        // 如果是侧栏的箭头图片
        top: 50%;
    }
    position: fixed;
    left: 0;
    width: 3%;
}
/* 展开侧栏的块 */
#showCatalog {
    // display: none;
    @include getFixedPosition('block');
    height: 100%;
    background-color: #fff;
    transition: opacity .5s;
    &:hover {
        cursor: pointer;
        opacity: .5;
    }
    // 箭头
    img {
        @include getFixedPosition('arrow');
    }
}
/* 侧栏 */
#sidebar {
    // float: left;
    display: inline-block;
    background-color: $sidebarBackgroundColor;

    // 屏幕小于 400px 时的样式
    padding: 0;
    width: 100%;

    // 屏幕大于 400px 时的样式
    @media (min-device-width:400px) {
        padding: 1%;
        width: 25%;
        box-shadow: 0 0 0.5rem #444;
    }
    /* 目录栏*/
    #catalog {
        font-size: $imgSize;

        color: $catalogColor;
    }
    /* 条目块*/
    div {
        margin: 2.5% auto;
        padding: 2.5%;
        width: 80%;

        text-align: center;

        background-color: $itemBackgroundColor;
        border-radius: 5% 0 0 0;

        &:hover {
            background-color: $itemHoverBackgroundColor;
            border: solid 1px $borderColor;
        }
        a {
            font-size: 1rem;
            text-decoration: none;

            color: #444;
            &:hover {
                font-weight: bold;
                color: #111;
            }
        }
    }
    /* 目录分类*/
    h3 {
        color: $catalogColor;
    }
    /* 隐藏目录的图片*/
    #hideCatalog {
        margin: 0 10px 0 0;
        width: $imgSize;

        cursor: pointer;
    }
}

/* 正文  */
#container {
    float: right;

    margin: 0 4%;
    max-width: 1600px;

    font-size: 1rem;
    line-height: 1.5rem;

    // 屏幕大于 400px 时的样式
    @media (min-device-width:400px) {
        width: 65%;
    }

    /* 标题 */
    #title {
        text-align: center;
        line-height: 3rem;
        font-size: 3rem;
        height: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    /* 每一节 */
    section {
        color: $contentColor;
        border-bottom: solid 1px $borderColor;
        h2:before {
            content: " - ";
        }
        h3:before {
            content: " - - ";
        }
        h4:before {
            content: " - - - ";
        }
        h5:before {
            content: " - - - - ";
        }
        h6:before {
            content: " - - - - - ";
        }
    }

    /* 正文链接样式 */
    p a, li a, div a {
        margin: 1px;
        padding: 0 1%;
        color: $linkColor;
        text-decoration: none;
        &:hover {
            border-radius: 5%;

            background-color: $linkHover;
        }
    }
    /* 代码块 */
    pre{
        code {
            border-radius: 5px;
        }
    }
    /* 术语 */
    .definition {
        margin: 1px;
        border-radius: 10%;

        font-size: .9rem;

        color: #111;
        background-color: #eee;
    }

    /* 参考文献链接*/
    .refer {
        a {
            font-size: .9rem;
            text-decoration: none;

            color: inherit;
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }

    /* 图片描述  */
    .description {
        text-align: center;

        color: #888;
    }
    /* 图片居中 */
    figure {
        text-aligin: center;
    }
    table {
        border: 1px solid $tableDeepColor;

        color: $tableDeepColor;
        th {
            border: none;
            padding: 1%;

            color: $tableShallow;
            background-color: $tableDeepColor;
        }
        td {
            padding: 1%;

            text-align: center;
        }
    }
}
