$imgSize: 30px;
$sidebarWidth: 20%;
$separation: 5%;
$sidebarBGcolor: #5f93be;
$tableDeepColor: #222;
$tableShallow: #fff;
#sidebar {
    display: inline-block;

    position: relative;

    margin: 0 1% 0 0;
    padding: 1%;
    width: $sidebarWidth;

    background-color: $sidebarBGcolor;
    // 目录栏
    #catalog {
        font-size: $imgSize;

        color: #fff;
    }
    // 条目块
    div {
        margin: 2.5%;
        padding: 2.5%;
        width: 80%;

        text-align: center;

        background-color: #f2f2f2;
        a {
            font-size: 1em;
            text-decoration: none;

            color: #000;
        }
    }
    // 目录分类
    h3 {
        color: #fff;
    }
    // 隐藏目录的图片
    #hideCatalog {
        margin: 0 10px 0 0;
        width: $imgSize;

        cursor: pointer;
    }
    // 显示目录的图片
    #showCatalog {
        display: none;

        position: absolute;
        top: 50%;
        right: 0;

        width: 10%;

        cursor: pointer;
    }
}
#container {
    position: absolute;
    top: 0;
    left: $sidebarWidth + $separation;

    width: 1 - $sidebarWidth - $separation;

    font-size: 1em;
    line-height: 1.5em;
    // 文章标题
    .title {
        font-size: 2em;
        text-align: center;
    }
    // 子标题
    .subTitle {
        font-size: 1.5em;
        padding: 5px;
    }
    .definition {
        margin: 1px;
        border-radius: 10%;

        font-size: .9em;

        color: #111;
        background-color: #eee;
    }
    // 参考文献链接
    .refer {
        font-size: 0.9em;
        text-decoration: none;
        color: inherit;

    }
    .description {
        text-align: center;
        color: #888;
    }
    .figTitle {
        text-align: center;
    }
    table {
        border: 1px solid $tableDeepColor;

        color: $tableDeepColor;
        th {
            border: none;
            padding: 1%;

            color: $tableShallow;
            background-color: $tableDeepColor;
        }
        td {
            text-align: center;
            padding: 1%;
        }
    }
}
