@mixin getFixedPosition($flag: "block") {
    position: fixed;
    left: 0;

    width: 3%;
    @if $flag == "block" {
        // 如果是侧栏块
        display: none;

        top: 0;

        opacity: 0;
    } @else {
        // 如果是侧栏的箭头图片
        top: 50%;
    }
}

// 子标题导航固定在右下角
@mixin subTitleNav() {
    position: fixed;
    right: 0;
    bottom: 0;
}

html {
    // 默认大小
    font-size: 16px;
    font-family: 'Geneva', 'Helvetica';
    // 设置根标签字体大小
    @media (max-device-width:1600px) {
        // <= 1600px
        font-size: 16px;
    }
    @media (max-device-width:1200px) {
        // < 1200px
        font-size: 22px;
    }
    @media (max-device-width:800px) {
        // < 800px
        font-size: 28px;
    }
    @media (max-device-width:400px) {
        // < 400px
        font-size: 34px;
    }
}
body {
    background-color: $backgroundColor;
    // 导航块
    #subTitleNav {
        width: 20%;
        z-index: 9999;
        @include subTitleNav();
        // 导航块
        .subTitleItem {
            $itemHeight: 1.2rem;
            display: none;
            overflow: hidden;

            margin: 5px 0;
            border: solid 1px #000;
            border-radius: 5px;
            padding: 5px;
            height: $itemHeight;

            font-size: $itemHeight;
            text-align: center;
            text-overflow: ellipsis;

            color: #000;
            background-color: #fff;
            opacity: 1;

            &:hover {
                border: solid 1px #aaf;
                color: #fff;
                background-color: #aaf;

                cursor: pointer;
            }
        }
    }
    // 导航开关
    #subTitleToggle {
        width: $subTitleToggleSize;
        height: $subTitleToggleSize;

        @include subTitleNav();
         > div {
            float: left;

            border-radius: 5px;
            width: $subTitleToggleSize / 2;
            height: $subTitleToggleSize / 2;
        }
        // 四个颜色块
        @for $i from 1 through $blockLength {
            .block#{$i} {
                background-color: nth($blockColor, $i);
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

/* 展开侧栏的块 */
#showCatalog {
    height: 100%;

    background-color: #fff;

    transition: opacity .5s;
    // display: none;

    @include getFixedPosition("block");
    &:hover {
        opacity: .5;

        cursor: pointer;
    }
    // 箭头
    img {
        @include getFixedPosition("arrow");
    }
}
/* 侧栏 */
#sidebar {
    // float: left;
    // display: inline-block;
    // 屏幕小于 400px 时的样式

    padding: 0;
    width: 100%;

    background-color: $sidebarBackgroundColor;

    // 屏幕大于等于 600px 时的样式
    @media (min-device-width: $deviceThreshold) {
        padding: 1%;
        width: 25%;

        box-shadow: 0 0 .5rem #444;
        position: fixed;
        overflow: auto;
        top: 0;
        bottom: 0;
    }
    /* 目录栏*/
    #catalog {
        font-size: $imgSize;

        color: $catalogColor;
    }
    /* 类别 */
    h3 {
        transition: all .5s;
        font-size: 1.5rem;
        font-weight: normal;

        color: #222;
        img {
            margin: 0 5%;
            height: 1.5rem;
        }
        &:hover {
            font-weight: bold;

            color: $catalogHoverColor;

            cursor: pointer;
        }
    }
    /* 条目块*/
    div {
        transition: all .5s;
        margin: 5% auto;
        border: solid 1px $itemBorderColor;
        border-radius: 5px;
        padding: 2.5%;
        width: 80%;

        text-align: center;

        background-color: $itemBackgroundColor;
        &:hover {
            border: solid 1px $itemHoverBorderColor;

            background-color: $itemHoverBackgroundColor;
            a {
                color: $itemDivHoverColor;
            }
        }
        a {
            font-size: 1rem;
            text-decoration: none;

            color: $itemColor;
            &:hover {
                font-weight: bold;

                color: $itemHoverColor;
            }
        }
    }
    /* 目录分类*/
    h3 {
        color: $catalogColor;
    }
    /* 隐藏目录的图片*/
    #hideCatalog {
        margin: 0 10px 0 0;
        width: $imgSize;

        cursor: pointer;
    }
}

/* 正文  */
#container {
    float: right;

    margin: 0 4%;
    max-width: 1600px;
    // 屏幕大小小于 400px 时的样式
    width: 92%;

    font-size: 1rem;
    line-height: 1.5rem;

    // 屏幕大于等于 600px 时的样式
    @media (min-device-width:$deviceThreshold) {
        width: 65%;
    }
    /* 目录结构部分 */
    #catalogFrame {
        img {
            height: 1.5rem;
            &:hover {
                cursor: pointer;
            }
        }
         > div {
            margin-left: 2.5%;
             > div {
                margin-left: 5%;
                 > div {
                    margin-left: 7.5%;
                     > div {
                        margin-left: 10%;
                    }
                }
            }
        }
    }
    /* 标题 */
    #title {
        height: 3rem;

        color: $titleColor;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
    /* 每一节 */
    section {
        transition: all .5s;

        border-bottom: solid 1px $borderColor;

        color: $contentColor;
        h2, h3, h4, h5, h6 {
            color: $headColor;
        }
        h2:before {
            color: $h2Color;
            content: " - ";
        }
        h3:before {
            color: $h3Color;
            content: " - - ";
        }
        h4:before {
            color: $h4Color;
            content: " - - - ";
        }
        h5:before {
            color: $h5Color;
            content: " - - - - ";
        }
        h6:before {
            color: $h6Color;
            content: " - - - - - ";
        }
    }
    /* 正文链接样式 */
    a {
        margin: 1px;
        padding: 0 1%;

        text-decoration: none;

        color: $linkColor;
        &:hover {
            border-radius: 5%;

            background-color: $linkHover;
        }
    }
    /* 代码块 */
    pre {
        code {
            border-radius: 5px;
            margin: 0;
            padding: 0 10%;
            @media (max-device-width: $deviceThreshold) {
                padding: 0 2%;
            }
            .strong {
                display: inline-block;
                margin: 5px;
                padding: 5px;
                border: dotted 1px $strongBorderColor;
                border-radius: 5px;

                background-color: $strongBackgroundColor;
            }
        }
    }
    /* 代码展示区 */
    .show {
        overflow: auto;
        border: dotted 1px #000;
        border-radius: 5px;
        padding: 2%;
        margin: 2% 0;
    }
    /* 提示块 */
    .tip {
        border-left: solid 2px $tipBorderColor;
        border-radius: 0 5px 5px 0;
        padding: .5rem;

        color: $tipColor;
        background-color: $tipBackgroundColor;
    }
    /* 术语 */
    .definition {
        margin: 1px;
        border-radius: .2rem;
        padding: 1px;
        margin: 0 1px;
        font-size: 1rem;

        color: $definitionColor;
        background-color: $definitionBackGroundColor;
    }
    /* 突出文字 */
    .different {
        font-size: 1rem;
        border: dotted 1px #000;
        // background-color: rgb(170, 170, 255);
        border-radius: .2rem;
        padding: 1px;
        margin: 0 1px;
    }
    /* 指令 */
    .command {
        display: block;

        padding: 1%;
        margin: 1% 0;
        border-radius: 5px;

        background-color: #222;
        color: #eee;
    }
    /* 参考文献链接*/
    .refer {
        a {
            font-size: .9rem;
            text-decoration: none;

            color: inherit;
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }
    @mixin message () {
        font-size: 1rem;
        padding: 1%;
        border-radius: 5px;
        border: solid 1px #eee;
    }
    /* 成功消息 */
    .successMessage {
        @include message();
        color:  #28a745;
        background-color: rgb(212, 237, 218);
    }
    /* 失败消息 */
    .failMessage {
        @include message();
        color:  #dc3545;
        background-color: rgb(255, 237, 218);
    }
    /* 图片居中 */
    figure {
        text-aligin: center;
        img {
            max-width: 100%;
        }
        // 图片描述
        figcaption {
            text-align: center;

            color: #888;
        }
    }
    table {
        border: 1px solid $tableDeepColor;

        color: $tableDeepColor;

        margin: 2.5% 5%;
        th {
            border: none;
            padding: 1%;

            color: $tableShallow;
            background-color: $tableDeepColor;
            text-align: center;
            min-width: 100px;
        }
        td {
            padding: 1%;

            text-align: center;
        }
    }
    /* 页脚上下页 */
    #footer {
        margin: 1% 0;
        color: $footerColor;
        .prePage {
            float: left;

            width: 50%;

            text-align: left;
        }
        .nextPage {
            float: right;

            width: 50%;

            text-align: right;
        }
    }
}

/* SE */
#searchContainer {
    position: relative;
    width: 80%;
    height: 1.2rem;

    margin: 5px auto;
    #searchInput {
        width: 100%;
        height: 1.5rem;

        margin: 0;
        padding: .2rem 0;
        border: solid .05rem #888;
        position: absolute;
        top: 0;

        font-size: 1rem;
        text-align: center;
    }
    #searchResult {
        width: 100%;
        position: absolute;
        // searchInput：height(1.5) + padding(0.2 * 2) + broder(0.05 * 2) = 2
        top: 2rem;

        font-size: 1rem;
        text-align: center;
        line-height: 1.2rem;

        border: solid 1px #444;
        border-top: none;
        > li {
            cursor: pointer;

            color: $SEItmeColor;
            width: inherit;
            padding: 5px 0;

            list-style: none;
            background-color: #fff;
            border-bottom: dotted 1px #888;
            &:last-of-type {
                border: none;
            }
            &:hover {
                background-color: #efefef;
                color: black;
            }
            span {
                background-color: yellow;
            }
        }
    }
}
