<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/styles/default.css">
	<link rel="stylesheet" href="../css/sidebar.css">
	<script src="../js/jquery-3.2.1-compressed.js"></script>
	<script src="../js/highlight.pack.js"></script>
	<script src="../js/sidebar.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<aside id="sidebar">
		<section id="catalog">
			<img id="hideCatalog" src="../images/catalog.png" alt="加载失败">
			目录
		</section>
	</aside>
	<div id="showCatalog">
		<img src="../images/arrow.png">
	</div>
	<article id="container">
		<hgroup>
			<h1 id="title">组件</h1>
		</hgroup>
		<section>
			<h2>定义</h2>
			<p>
				组件是带有预设选项可复用的 Vue 实例，在模版中使用自定义标签名为组件名时，相当于自动<span class="definition"> new Component('组件名') </span>并挂载到元素上。
			</p>
		</section>
		<section>
			<h2>注册</h2>
			<p>
				<h3>全局注册</h3>
				注册后可以在任何<span class="definition"> new Vue() </span>中使用。
				<pre><code class="html">
&lt;!-- 使用组件 --&gt;
&lt;组件名 id="demo"&gt;&lt;/组件名&gt;
&lt;script&gt;
	// 注册组件
	Vue.component('组件名', { 选项参数 });
	// 创建实例
	new Vue({
		el: '#demo'
	});
&lt;/script&gt;
				</code></pre>
				<div class="tip">
					顺序应该是先 Vue.component ，再 new Vue()，否则会找不到组件而报错。
				</div>
				<h3>局部注册</h3>
				局部注册后只能在该<span class="definition"> new Vue() </span>的实例中使用。
				<pre><code class="html">
&lt;标签 id="demo"&gt;
	&lt;组件名&gt;&lt;/组件名&gt;
&lt;/标签&gt;
&lt;script&gt;
	new Vue({
		el: '#demo',
		component: {
			'组件名': { 选项参数 }
		}
	});
&lt;/script&gt;
				</code></pre>
				<h3>获取组件</h3>
				<pre><code class="javascript">
var component = Vue.component('组件名'); // 获得组件构造器（函数）
				</code></pre>
			</p>
		</section>
		<section>
			<h2>选项</h2>
			<p>
				因为组件是可复用的 Vue 实例，所以它们与 new Vue 接收相同的选项<sup>[1]</sup>，个别选项除外。
				<ul>
					<li>data：数据属性</li>
					<li>computed：计算属性</li>
					<li>methods：方法</li>
					<li>watch：侦听属性</li>
					<li>template：模版</li>
					<li>render：渲染函数</li>
					<li>functional：函数式组件</li>
					<li>生命周期钩子</li>
					<li>mixins：混合</li>
					<li>props：特性，访问父组件数据</li>
					<li>provide：依赖，提供给后代组件数据</li>
				</ul>
			</p>
		</section>
		<section>
			<h2>data</h2>
			<p>
				数据属性，必须是个函数，使用组件的调用该函数获得数据属性的对象，以保证每个组件相互独立。
				<pre><code class="javascript">
Vue.component('demo', {
	data: function() { // ✔
		return { ... };
	},
	data: { ... } // ✖
});
				</code></pre>
				<figure>
					<img src="../images/vue_component_data_error.jpg">
					<figcaption>data: { ... } 时报错</figcaption>
				</figure>
			</p>
		</section>
		<section>
			<h2>computed & method & watch & 钩子 & mixins</h2>
			<p>
				与<span class="definition"> new Vue() </span>相同，详见<a href="实例.html"> Vue 实例 </a>。
			</p>
		</section>
		<section>
			<h2>template</h2>
			<p>
				template 里的内容才是组件的本体，使用组件时，该标签将被 template 值替换。
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-message&gt;啊啊啊我不甘心&lt;/my-message&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-message', {
		template: '&lt;div&gt;娃哈哈你又要被我替换掉了&lt;/div&gt;'
	});
	new Vue({
		el: '#demo'
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_template.jpg">
				</figure>
			</p>
		</section>
		<section>
			<h2>render</h2>
			<p>
				有时我们需要动态渲染 template ，例如
				<pre><code class="javascript">
var level = 1;
Vue.component('my-component', {
	props: ['level'],
	template: '&lt;h' + level + '&gt;&lt;slot&gt;&lt;/slot&gt;&lt;/h' + level + '&gt;'
});
				</code></pre>
				这种方法是允许的（没理由不行），但如果使用以下方法：
				<pre><code class="javascript">
Vue.component('my-component', {
	props: ['level'],
	template: '&lt;h' + this.level + '&gt;&lt;slot&gt;&lt;/slot&gt;&lt;/h' + this.level + '&gt;'
});
				</code></pre>
				全局注册组件时还没有传入 level ，只有在 html 中使用组件时才通过 props 传入 level，最结果为报错
				<figure>
					<img src="../images/vue_no_render.jpg">
				</figure>
				这时就需要渲染函数 render 。
				<pre><code class="javascript">
Vue.component('my-component', {
	render: function(createElement) {
		return createElement('h' + this.level, this.$slots.default);
	}
})
				</code></pre>
				<h3>createElement</h3>
				形参 createElement 是 Vue 内部提供的一个方法，创建一个虚拟节点（VNode），调用时接受以下参数：
				<ul>
					<li>tag：标签名（字符串|对象|函数）</li>
					<li>data：标签数据（对象）</li>
					<li>children：子节点（字符串|数组）</li>
				</ul>
				<pre><code class="javascript">
Vue.component('my-componeny', {
	render: function(createElement) {
		return createElement(
			'div', // 标签名
			{
				class: { // 类
					error: true
				},
				style: { // CSS 样式
					backgroundColor: 'red'
				},
				attrs: { // HTML 属性
					id: 'error-window'
				},
				props: { // 组件 props
					message: '404' // （相当于&lt;div v-bind:message="404"&gt;&lt;/div&gt;）
				},
				domProps: { // dom 属性
					innerHTML: 'it is wrong!'
				},
				on: { // 事件
					click: function(){ console.log('you clicked it') }
				},
				nativeOn: { // 原生事件
					click: function() { console.log('you clicked it again') }
				},
				directives: [ // 指令
					name: 'my-directive',
					value: '1',
					expression: '1 + 1',
					arg: 'hello',
					modifiers: {
					  message: true
					}
				],
				scopedSlots: { // 作用域插槽

				},
				slot: 'slot-name', // 插槽名
				key: 'key',
				ref: 'ref'
			},
			[
				'hello', // 文本节点
				createElement('div', 'world') // div 节点
			]
		)
	}
});
				</code></pre>
				<h3>v-model</h3>
				参见 props（下下节）部分关于组件使用 v-model 的问题，渲染函数中应该使用以下方式书写：
				<pre><code class="javascript">
&lt;div id="demo"&gt;
	&lt;my-component v-model="content"&gt;&lt;/my-component&gt;
	&lt;div&gt;{{content}}&lt;/div&gt;
&lt;/div&gt;
Vue.component('my-component', {
	<span class="strong">props: ['value'],</span>
	render: function (createElement) {
		<span class="strong">var that = this;</span>
		return createElement('input', {
	    	domProps: {
	      		<span class="strong">value: this.value</span>
	   		},
	    	on: {
	    		<span class="strong">
input: function (event) {
	that.$emit('input', event.target.value);
}
	    		</span>
	    	}
	  	});
	}
});
new Vue({
	el: '#demo',
	data: {
		content: 'hello world'
	}
});
				</code></pre>
				<h3>插槽</h3>
				<ul>
					<li>this.$slots.插槽名：读取具名插槽的值</li>
					<li>this.$slots.defaukt：读取默认插槽的值</li>
					<li>this.$scopedSlots.插槽名：读取具名作用域插槽的值</li>
					<li>this.$scopedSlots.default：读取默认作用域插槽的值</li>
				</ul>
			</p>
		</section>
		<section>
			<h2>functional</h2>
			<p>
				开启 functional 后，组件将作为一个函数被使用，因而：
				<ul>
					<li>无 this，需要通过 render 函数的第二个参数获取上下文对象</li>
					<li>无状态，开销低</li>
				</ul>
				<pre><code class="javascript">
Vue.component('my-component', {
	functional: true,
	props: [],
	render: function(createElement, context) {
		return createElement(
			'div',
			context.data,
			context.children
		);
	}
});
				</code></pre>
				context 可访问到：
				<ul>
					<li>context.props：组件的 props 对象</li>
					<li>context.data：数据对象</li>
					<li>context.children：子节点（VNode）数组（&lt;组件名&gt;&lt;/组件名&gt; 内的所有元素）</li>
					<li>context.parent：父组件</li>
					<li>context.slots()：插槽数组（&lt;组件名&gt;&lt;/组件名&gt; 内的所有插槽）</li>
					<li>context.listeners</li>
					<li>context.injections</li>
				</ul>
			</p>
		</section>
		<section>
			<h2>props</h2>
			<p>
				<h3>读取</h3>
				组件内部作用域是独立的，无法直接访问<span class="definition"> new Vue() </span>的选项对象的参数。
				<pre><code class="html">
&lt;div id="demo2"&gt;
	&lt;my-demo&gt;&lt;/my-demo&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-demo', {
		template: '&lt;div&gt;{{greet}}&lt;/div&gt;'
	});
	new Vue({
		el: '#demo2',
		data: {
			greet: 'hello world'
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_props_error.jpg">
				</figure>
				此时就需要借助<span class="definition"> props </span>属性，在组件声明该选项，然后在使用组件时为其添加对应属性。
				<pre><code class="html">
&lt;div id="demo2"&gt;
	&lt;!-- 绑定到 vue 实例的数据属性 --&gt;
	&lt;my-demo <span class="strong">v-bind:greet="greet"</span>&gt;&lt;/my-demo&gt;
	&lt;!-- 直接赋值字符串 --&gt;
	&lt;my-demo <span class="strong">greet="world hello"</span>&gt;&lt;/my-demo&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-demo', {
		<span class="strong">props: ['greet'],</span>
		template: '&lt;div&gt;{{greet}}&lt;/div&gt;'
	});
	new Vue({
		el: '#demo2',
		data: {
			greet: 'hello world'
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_props.jpg">
				</figure>
				<div class="tip">详细的 props 属性应该是一个对象，对象的属性值一个用于描述该属性的对象</div>
				<pre><code class="javascript">
Vue.component('my-demo', {
	props: {
		greet: {
			type: String, // 类型
			require: true, // 是否必须
			validator: function(value) { // 验证器
				return ...
			}
		}
	}
});
				</code></pre>
				<h3>修改</h3>
				在组件的模版中，可以通过<span class="definition"> props </span>来读取实例（new Vue()）的参数，但如果想在组件中直接修改这些参数，则会提示错误。此时修改的参数已经是组件间相互独立的，而不是来自于同一个实例的公共的数据属性。
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-button v-bind:time="time"&gt;&lt;/my-button&gt;
	&lt;my-button v-bind:time="time"&gt;&lt;/my-button&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-button', {
		template: '&lt;input type="button" v-model="time" v-on:click="time++"/&gt;',
		props: ['time']
	});
	new Vue({
		el: '#demo',
		data: {
			time: 0
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_props_error.gif">
					<figcaption>&lt;input type="button" v-model="time" v-on:click="time++"/&gt;</figcaption>
				</figure>
				正确的做法应该是在使用组件时添加自定义事件，然后让组件的模版使用<span class="definition"> $emit('事件名') </span>触发这个自定义事件。
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-button v-bind:time="time" <span class="strong">v-on:inc="time++"</span>&gt;&lt;/my-button&gt;
	&lt;my-button v-bind:time="time" <span class="strong">v-on:inc="time++"</span>&gt;&lt;/my-button&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-button', {
		template: '&lt;input type="button" v-model="time" <span class="strong">v-on:click="$emit(\'inc\')"</span>/&gt;',
		props: ['time']
	});
	new Vue({
		el: '#demo',
		data: {
			time: 0
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_props_normal.gif">
				</figure>
				<div class="tip">
					<span class="definition"> $emit() </span>用于触发自定义事件，传入的第一个参数为自定义事件名，其后可以传入其他形参。
					<li>自定义事件如果是单条 javascript 语句，可以通过<span class="definition"> $evnet </span>来获取其后的第一个参数</li>
					<li>自定义事件如果调用了一个方法（methods 属性），可以直接定义形参后使用</li>
				</div>
				<h3>v-model</h3>
				有时我们想在组件上使用 v-model 。
				<li>方法一，直接在组件标签上写<span class="definition"> v-model="" </span></li>
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-input v-model="content"&gt;&lt;/my-input&gt;
	&lt;div&gt;{{content}}&lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-input', {
		template: '&lt;input type="text"&gt;'
	});
	var vm = new Vue({
		el: '#demo',
		data: {
			content: '我是默认信息'
		}
	});
&lt;/script&gt;
				</code></pre>
				实际上编译成为了：
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-input <span class="strong">v-bind:value="content" v-on:input="content = $event"</span>&gt;&lt;/my-input&gt;
	&lt;div&gt;{{content}}&lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-input', {
		template: '&lt;input type="text"&gt;'
	});
	var vm = new Vue({
		el: '#demo',
		data: {
			content: '我是默认信息'
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_v_model_1.gif">
					<figcaption>没有出现双向绑定的情况</figcaption>
				</figure>
				<li>方法二，通过 props 传入数据后，在组件的 template 内写 v-model 进行绑定</li>
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-input v-bind:content="content"&gt;&lt;/my-input&gt;
	&lt;div&gt;{{content}}&lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-input', {
		props: ['content'],
		template: '&lt;input type="text" v-model="content"&gt;'
	});
	var vm = new Vue({
		el: '#demo',
		data: {
			content: '我是默认信息'
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_v_model_2.gif">
					<figcaption>单向绑定，修改时会报错</figcaption>
				</figure>
				<li>解决方法，还是按照方法一的写法，但在写组件的 template 时候需要一些修改</li>
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-input v-model="content"&gt;&lt;/my-input&gt;
	&lt;div&gt;{{content}}&lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-input', {
		<span class="strong">props: ['value'],</span> // props 解决读取问题
		template: '&lt;input type="text" <span class="strong">v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)"</span>&gt;' // $emit 解决修改问题
	});
	var vm = new Vue({
		el: '#demo',
		data: {
			content: '我是默认信息'
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_v_model_3.gif">
				</figure>
			</p>
		</section>
		<section>
			<h2>provide</h2>
			<p>
				provide 提供给所有后代组件可以访问的数据和方法，子组件使用 inject 来接收。
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-out&gt;&lt;/my-out&gt;
&lt;/div&gt;
&lt;script&gt;
	// 子组件的子组件
	Vue.component('my-in', {
		<span class="strong">inject: ['message'],</span>
		template: '&lt;div&gt;I am inner {{message}}&lt;/div&gt;'
	});
	// 子组件
	Vue.component('my-out', {
		<span class="strong">inject: ['message'],</span>
		template: `&lt;div&gt;
		&lt;my-in&gt;&lt;/my-in&gt;
		&lt;div&gt;I am outer {{message}}&lt;/div&gt;
		&lt;/div&gt;`
	});
	new Vue({
		el: '#demo',
		data: {
			message: 'hello world'
		},
		<span class="strong">provide</span>: function() {
			return {
				message: this.message
			}
		}
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_provide.jpg">
				</figure>
			</p>
		</section>
		<section>
			<h2>ref（获取子组件对象）</h2>
			<p>
				通过 ref 属性给组件起个别名，然后让 vue 实例使用<span class="definition"> $refs.别名 </span>来读取到组件对象。
				<pre><code class="html">
&lt;div id="demo"&gt;
	&lt;my-compoent <span class="strong">ref="componentId"</span>&gt;&lt;/my-compoent&gt;
&lt;/div&gt;
&lt;script&gt;
	Vue.component('my-compoent', {
		template: '&lt;div&gt;{{greeet}}&lt;/div&gt;',
		data: function() {
			return {
				greet: 'hello world'
			}
		}
	});
	var vm = new Vue({
		el: '#demo'
	});
	console.log(<span class="strong">vm.$refs.componentId.greet</span>); // =&gt; hello world
&lt;/script&gt;
				</code></pre>
			</p>
		</section>
		<section>
			<h2>is（动态组件）</h2>
			<p>
				按照之前的做法，我们可以用组件名来使用组件。
				<pre><code class="html">
&lt;组件名&gt;&lt;/组件名&gt;
				</code></pre>
				同样也可以在任意标签上（HTML 标签、组件标签、 component）使用<span class="definition"> is </span>属性来使用组件，其效果是相同的。此时可以通过修改<span class="definition"> is </span>属性来动态切换组件。
				<pre><code class="html">
&lt;标签 is="组件名"&gt;&lt;/标签&gt;
				</code></pre>
				<h3>keep-alive</h3>
				通过修改<span class="definition"> is </span>属性来动态切换组件，每次切换时会新建一个组件实例。通过<span class="definition"> keep-alive </span>可以对结果进行缓存，而不是每次都新建实例。
				<pre><code class="html">
&lt;keep-alive&gt;
	&lt;标签 is="组件名"&gt;&lt;/标签&gt;
&lt;/keep-alive&gt;
				</code></pre>
				<h3>解析问题</h3>
				有些 HTML 元素，诸如 &lt;ul&gt;、&lt;ol&gt;、&lt;table&gt; 和 &lt;select&gt;，对于哪些元素可以出现在其内部是有严格限制的。而有些元素，诸如 &lt;li&gt;、&lt;tr&gt; 和 &lt;option&gt;，只能出现在其它某些特定的元素内部。<sup>[1]</sup>
				<pre><code class="html">
&lt;table id="demo"&gt;
  	&lt;my-row&gt;&lt;/my-row&gt;
&lt;/table&gt;
&lt;script&gt;
	Vue.component('my-row', {
		template: '&lt;tr&gt;&lt;td&gt;hello&lt;/td&gt;&lt;td&gt;world&lt;/td&gt;&lt;/tr&gt;'
	})
	new Vue({
		el: '#demo'
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_is_error.jpg">
					<figcaption>&lt;my-row&gt;&lt;/my-row&gt; 被移动到外面导致无法渲染</figcaption>
				</figure>
				此时借助<span class="definition"> is </span>来解决问题。
				<pre><code class="html">
&lt;table id="demo"&gt;
	<span class="strong">&lt;tr is="my-row"&gt;&lt;/tr&gt;</span>
&lt;/table&gt;
&lt;script&gt;
	Vue.component('my-row', {
		template: '&lt;tr&gt;&lt;td&gt;hello&lt;/td&gt;&lt;td&gt;world&lt;/td&gt;&lt;/tr&gt;'
	});
	new Vue({
		el: '#demo'
	});
&lt;/script&gt;
				</code></pre>
				<figure>
					<img src="../images/vue_component_is_normal.jpg">
					<figcaption>&lt;tr is="my-row"&gt;&lt;/tr&gt; 不会被移到外面，正常渲染</figcaption>
				</figure>
			</p>
		</section>
		<section class="refer">
			<h2>参考文献</h2>
			<p>
				<div>[1] Vue.js 组件基础 <a href="https://cn.vuejs.org/v2/guide/components.html">https://cn.vuejs.org/v2/guide/components.html</a></div>
				<div>[2] Vue.js 动态组件 <a href="https://cn.vuejs.org/v2/guide/components-dynamic-async.html">https://cn.vuejs.org/v2/guide/components-dynamic-async.html</a></div>
			</p>
		</section>
	</article>
</body>
</html>